
.navbar-toggler{
    float: right;
}
.nav-active{
    background-color: red !important;
    background: linear-gradient(90deg, #808CBC 0%,#541ed3 100%)
}

.nav-link, .navbar-brand{
    font-weight: bold;
    margin-bottom: 3px;
    color: white !important;
}
.nav-link:hover{
    color: rgb(155, 151, 151) !important;
}


.navbar-toggler{
    outline: none !important;
}


.login{
    background-color: #808CBC;
    border-radius: 5px;
}